.sidebar-container {
    width: 20vw;
    padding: 10px 20px;
    margin: 0 auto;

    section {
        width: 100%;
    }

    .draggable {
        cursor: pointer;

        &:hover:not(.dragging) {
            border: 1px solid #aa00aa;
            background-color: #fafafa;
        }
    }
    .dragging {
        border: 1px solid #000000;
        background-color: #d4d4d4;
    }

}